{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Search
{% endblock title %}

{% block content %}
 <h1>Поиск новостей</h1>

<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit", value="Найти">
</form>
<h1>Количество новостей: {{search|length}}</h1>
{% if search %}
<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата новости</td>
        <td>Содержание</td>
    </tr>
    {% for new1 in search %}
    <tr>
        <td>{{ new1.title }}</td> <!-- удаляем цензор с прошлого задания  <td>{{ new1.title|censor }}</td> -->
        <td>{{ new1.dt_create|date:'d.m.Y' }}</td>
        <td>{{ new1.text }}</td> <!-- удаляем цензор с прошлого задания  <td>{{ new1.text|censor }}</td> -->
    </tr>
    {% endfor %}
</table>
{% else %}
<h2> Нет новостей! </h2>
{% endif %}
{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}