<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сделаем напоминание</title>
</head>
<body>
<h1>Сделаем напоминание</h1>
<form action="{% url 'D9:make_appointment' %}" method="post"
      enctype="multipart/form-data">
    {% csrf_token %}
    <label for="client_name">Ваше имя</label>
    <input type="text" name="client_name"><br>
    <label for="message">Введите то о чём вам напомнить</label>
    <input type="text" name="message"><br>
    <label for="date">Выберите дату и время</label>
    <input type="date" name="date"><br>
    <label for="email">Введите свою почту</label>
    <input type="email" name="email"><br>
    <input type="submit">
</form>
</body>
</html>