<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
{% if news %}
<h1>Количество новостей: {{news|length}}</h1>
<!--    {% if is_not_subscriber %}-->
<!--    <p class="text-center"><a href="{}" class="btn btn-secondary btn-sm">Подписаться</a> </p>-->
<!--    {% endif %}-->
<!--<ul class="list-group list-group-flush">-->
<!--    {% for new1 in category_news_list %}-->
<!--    <li class="list-group-item">-->
<!--        <small class="fw-bold">{{ new1.dt_create|date:'d.m.Y' }}</small>-->
<!--        <a href="{% url 'new' new1.id %}">{{ new1.title }}</a>-->
<!--        <small class="text-muted">Автор: {{ new1.author }}</small><br>-->
<!--        <small class="fw-bold">категории:-->
<!--            {% for category in new1.category_id.all %}-->
<!--            <a href="{% url 'category_list' category.id %}">{{ category }}</a>-->
<!--               {% endfor %}-->
<!--        </small>-->
<!--        <p>{{ new1.text | truncatechars:100 }}</p>-->
<!--    </li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<table>
    <tr>
        <td>Заголовок</td>
        <td>Дата новости</td>
        <td>Содержание</td>
        <td>Категория</td>
    </tr>
    {% for new1 in category_news_list %}
    <tr>
        <td>{{ new1.title }}</td> <!-- удаляем цензор с прошлого задания  <td>{{ new1.title|censor }}</td> -->
        <td>{{ new1.dt_create|date:'d.m.Y' }}</td>
        <td>{{ new1.text }}</td> <!-- удаляем цензор с прошлого задания  <td>{{ new1.text|censor }}</td> -->
                    <td>{% for category in new1.category_id.all %}
            <a href="{% url 'category_list' category.id %}">{{ category }}</a>
               {% endfor %}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2> Нет новостей! </h2>
{% endif %}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
