<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% block title %}
News
{% endblock title %}
{% block content %}
<h1>Все статьи</h1>
{% if post %}
<h1>Количество статей: {{post|length}}</h1>
<table>
    <tr>
        <td>id статьи</td>
        <td>Заголовок</td>
        <td>Имя автора</td>
        <td>Дата новости</td>
        <td>Содержание</td>
        <td>Категория</td>
    </tr>
    {% for post1 in post %}
    <tr>
        <td>{{ post1.id }}</td>
        <td>{{ post1.title }}</td>
        <td>{{ post1.author }}</td>
        <td>{{ post1.date|date:'d.m.Y' }}</td>
        <td>{{ post1.text }}</td>
                    <td>{% for category in post1.category.all %}
            <a>{{ category }}</a>
               {% endfor %}</td>

    </tr>
    {% endfor %}
</table>
{% else %}
<h2> Нет новостей! </h2>
{% endif %}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
